{% extends "@Page/base.twig" %}

{% block content %}
<style media="screen">
  .marketing {
    background-color: rgb(0, 0, 0);
    background-image: url(http://uassets.clans-cdn.de/backgrounds/450492/background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 0px;
    min-height: 734px;
  }
</style>
  <div class="opl-wrapper">
    <div class="opl-content row">
      <div class="opl-profile col-4">
        <span class="opl-username">{{ profile_user.getUsername() }}<br /> Play's on the server: YES <br /> Position: FTL<br /> Team: Alpha 1-1</span>
        <div class="img">
          {% if  profile_user.getSteamAvatar() %}
            <img src="{{ profile_user.getSteamAvatar() }}" alt="userimg" class="opl-online">
          {% else %}
            <!--ADD MANUEL THE ONLY BODER-->
            <img class="" src="{{ Tag.include_img('imgs/default_user.png') }}" alt="userimg" class="img-responsive center-block opl-online" >
          {% endif %}
        </div>
      </div>
      <div class="opl-nav col-12">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div class="row opl-row-top">
          <div class="col-12">
            <h3>Combat Log</h2>
              <ul class="ribbons">
                  <li>{{ profile_user.getUsername() }} has achived the <img src="{{ Tag.include_img('imgs/ribbons_batches/sea_duty_ribbon.png') }}"  style="height: 20px;"/> 12h in a Boat on a Mission ribbon</li>
                  <li>{{ profile_user.getUsername() }} has achived the <img src="{{ Tag.include_img('imgs/ribbons_batches/army_serv_ribbon.png') }}"  style="height: 20px;"/> 12h duty in a Fireteam ribbon</li>
              </ul>
          </div>
        </div>
        <div class="row opl-row-bottom">
          <div class="col-4">
            1 of 3
          </div>
          <div class="col-4">
            2 of 3
          </div>
          <div class="col-4">
            3 of 3
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
