{% extends "@Page/base.twig" %}

{% block content %}
{% for i in topic %}
  <div class="container"><!--Start Container -->
      <div class="row"><!--Start Row -->
        <div class="col-lg-12 col-md-12">
          <div class="post">
            <div class="wrap-ut pull-left">
              <div class="posttext pull-left">
                <h2>{{ Tag.start_link('forum/topic/'~i.getId()) }}<i class="fa fa-comment-o" aria-hidden="true"></i> {{ i.getName() }} {{ Tag.end_link() }}</h2>
                <p>This is just a little test!</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="postinfo pull-left">
              <!--<div class="comments">
                <div class="commentbg">
                  12
                  <div class="mark"></div>
                </div>-->
                <div class="lastPost">
                    Themen: {{ i.getTopics() }}
                    <br /> Beträge: {{ i.getPosts()|length }}<br />
                    {% if latestPost %}
                        {{ Tag.link_to(latestPost.getTitle(), 'forum/post/'~latestPost.getId()) }} <br /> von {{ latestPost.getUser().getUsername() }} <br /> Gestern
                    {% endif %}
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div><!--End Row -->
    </div><!--End Container -->
{% endfor %}
{% endblock %}
