{% extends "@Page/base.twig" %}

{% block content %}
    <div class="user-card">
        {% if  profile_user.getSteamAvatar() %}
          <img src="{{ profile_user.getSteamAvatar() }}" alt="userimg">
        {% else %}
           <img src="{{ Tag.include_img('imgs/default_user.png') }}" alt="userimg" class="img-responsive center-block" >
        {% endif %}
        <h1>{{ profile_user.getUsername() }}</h1>
        <p class="title">
            <ul class="ribbons">
                <li><img src="{{ Tag.include_img('imgs/ribbons_batches/sea_duty_ribbon.png') }}"  style="height: 20px;"/> 12h in a Boat on a Mission</li>
                <li><img src="{{ Tag.include_img('imgs/ribbons_batches/army_serv_ribbon.png') }}"  style="height: 20px;"/> 12h duty in a Fireteam</li>
            </ul>
        </p>
        <span>Plays on the server:
            {% if profile_user.getIsIngame() == 0 %}
                NO
            {% else %}
                YES
            {% endif %}
        </span><br />
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Contact</button></p>
    </div>
{% endblock %}
