{% set allowedHTML = '<p>,<i>,<b>,<a>,<ol>,<ul>,<li>,<pre>' %}
<div class="container"><!--Start Container -->
    <div class="row"><!--Start Row -->
      <div class="col-lg-12 col-md-12">
        <div class="post">
          <div class="topwrap">
            <div class="wrap-ut pull-left">
              <div class="userinfo pull-left">
                  <div class="avatar">
                    {% if  post.getUser().getSteamAvatar() %}
                      <img src="{{ post.getUser().getSteamAvatar() }}" alt="userimg">
                    {% else %}
                       <img src="{{ Tag.include_img('imgs/default_user.png') }}" alt="userimg" class="img-responsive center-block" >
                    {% endif %}
                    <div class="status green"></div>
                  </div>
                  <ul class="ribbons">
                      <li><img src="{{ Tag.include_img('imgs/ribbons_batches/sea_duty_ribbon.png') }}"  style="height: 20px;"/></li>
                      <li><img src="{{ Tag.include_img('imgs/ribbons_batches/army_serv_ribbon.png') }}"  style="height: 20px;"/></li>
                  </ul>
                  <!--<div class="icons">
                    <img src="http://forum.azyrusthemes.com/images/icon1.jpg" alt="">
                    <img src="http://forum.azyrusthemes.com/images/icon4.jpg" alt="">
                  </div>-->
              </div>
              <div class="posttext pull-left">
                <h2>{{ post.getTitle() }}</h2>
                <p>{{ post.getContent()|striptags(allowedHTML)|raw }}</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="postinfobot">
            <div class="likeblock pull-left">
              {{ Tag.start_link('forum/post/up/'~post.getId(),'up') }}<li class="fa fa-thumbs-o-up"></li>{{ post.getUp() }}{{ Tag.end_link() }}
              {{ Tag.start_link('forum/post/down/'~post.getId(),'down') }}<li class="fa fa-thumbs-o-down"></li>{{ post.getDown() }}{{ Tag.end_link() }}
            </div>
            <div class="reply pull-left">
              <a href="#"><i class="fa fa-reply"></i></a>
            </div>
            <div class="posted pull-left">
              <i class="fa fa-clock-o"></i> Posted on : {{ post.getCreated().format('M @ g:ia') }}
            </div>
            <div class="next pull-left">
              <a href="#"><li class="fa fa-share"></li></a>
              <a href="#"><li class="fa fa-flag"></li></a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div><!--End Row -->
</div><!--End Container -->
