{% extends "@Acp/base.twig" %}
{% block content %}
<h3>Forum settings</h3>
<br />
<div class="card">
  <div class="card-header">
    Add new Topic
  </div>
  <div class="card-block">
    <h4 class="card-title">Create a new forum</h4>
    <p class="card-text">Just enter the name that the forum should have and you ready to go.</p>
    <form action="{{ url }}/acp/forum/create-topic" method="post">
        <div class="form-group">
          <label for="example-text-input" class="col-2 col-form-label">Forenname</label>
          <div class="col-10">
            <input class="form-control" type="text" value="" name="topic_name" id="example-text-input">
          </div>
        </div>
        <div class="form-group">
            {% for role in allGroups %}
              <label for="exampleFormControlTextarea1">{{ role.getName() }}</label>
              <input type="checkbox" name="{{ role.getName() }}" value="{{ role.getId() }}"><br />
            {% endfor %}
          
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class="apc-forum-list">
  <ul>
    {% for forum in allForums %}
      <li>{{ forum.getName() }} | {{ Tag.link_to('Edit', 'acp/forum/edit-topic/'~forum.getId()) }} | delete </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
